@media screen and (min-width: 119px) {
*{
	margin:0px;
	padding: 0px;
	text-align: center;
}
.tbsnusu{
	position: fixed;
	top:320px;
}
.tbnhos{
	position: fixed;
	top:455px;
}
.botones{
	position: fixed;
	bottom:25px;
	right:15px;
	z-index:100;
}
#bhoscli{
	bottom:80px;
	position: fixed;
}
.roundedOne {
	width: 28px;
	height: 28px;
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 20px auto;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
}

.roundedOne label {
	cursor: pointer;
	position: absolute;
	width: 20px;
	height: 20px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	left: 4px;
	top: 4px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);

	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.roundedOne label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	background: #00bf00;

	background: -webkit-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -moz-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -o-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: -ms-linear-gradient(top, #00bf00 0%, #009400 100%);
	background: linear-gradient(top, #00bf00 0%, #009400 100%);

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	top: 2px;
	left: 2px;

	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
}

.roundedOne label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.roundedOne input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}
body {
   overflow-x: hidden;
    margin: 36px auto;
    width: 100%;
}
body, .cuerpo{
background-color:#fee56b;/*DCD88D#FAD454*/
}
#btn_exportar{
  position: absolute;
  right:10px;
}
.cuerpo{
   position: relative;
   top:180px;
   z-index: 0;
}
.habh{
   position: absolute;
   right:15px;
   top:15px;
   z-index: 1;
}
.pie {
	background-color:#000000;
	position: relative;
	z-index: 1;
}
	}
#estilo1 {
width: 800px;
padding: 12px 15px;
border-radius: 8px;
margin: auto ; 
}
#footer{
font-size: 18px;
text-shadow: 2px 2px 2px #C0C0C0;   
}
.popup{
    background: #e1b547;
	width: 100%;
	height: 100%;
	}
.error{
    background: #e1b547;
    width: 100%;
    height: 15;
    position: fixed;
    bottom: 14;
    left: 0;
	text-align:left;
    border-bottom: 4px solid #e1b547;/*4C9CF1*/
    z-index: 100;
}
	h1 {
color:black;
}
h1:hover {
color:green;
}
#menu{
font-size: 26px;
padding: 1px; 
background-color: #2175bc; 
color: #fff;
padding-left: 20px;
padding-right: 20px;
text-decoration: none;
border-radius:25px;
}
#fondo {
	background-size:100% 100%;
}
.button{
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/*  width: 150px;*/
  width: 200px;
  height: 32px;
 /* cursor: pointer;*/
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  font: normal normal normal 16px/normal "Antic", Helvetica, sans-serif;
/*  color: rgba(140,140,140,1);*/
color: rgba(255,255,255,1);
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(40,40,40,0.4);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
.button#usu,cla{
width: 150px;
  height: 40px;
}
.button#usu:focus{
width: 200px;
  height: 40px;
}
.button#cla{
width: 150px;
  height: 40px;
}
.button#cla:focus{
width: 200px;
  height: 40px;
}
.button:hover {
 /* color: rgba(181,181,181,1);*/
  color: rgba(255,255,255,1);
  background: rgba(0,0,0,0.4);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
.button:focus {
  width: 210px;
  cursor: default;
  padding: -13px 20px 0;
  color: rgba(255,255,255,1);
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
.buttonarea {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/*  width: 150px;*/
  width: 500px;
  height: 80px;
/*  cursor: pointer; */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  font: normal normal normal 20px/normal "Antic", Helvetica, sans-serif;
/*  color: rgba(140,140,140,1);*/
color: rgba(255,255,255,1);
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(40,40,40,0.4);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.buttonbuttonarea:hover {
 /* color: rgba(181,181,181,1);*/
  color: rgba(255,255,255,1);
  background: rgba(0,0,0,0.4);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.buttonbuttonarea:focus {
  width: 420px;
  cursor: default;
  padding: -13px 20px 0;
  color: rgba(255,255,255,1);
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
/*botoneshab*/
.ihabs{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
}
.numhab{
  position:fixed;
}
#bg {
background-position:inherit; 
background-repeat:no-repeat; 
background-size:106%; 
background-position:center;
}
#bgbotones {
	background-repeat:no-repeat; 
	background-size:90%; 
	background-position:center;
  display: inline-block;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  cursor: pointer;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  border-radius: 1px;
  color:#5e208f;
  font: normal normal normal 14px/normal "Antic", Helvetica, sans-serif;
  text-align:center;
  style="z-index:100;
  font-weight:bold;
}

.cuarto {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 65px;
  height: 65px;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 21px;
  border-radius: 5px;
  font: normal normal normal 14px/normal "Antic", Helvetica, sans-serif;
/*  color: rgba(140,140,140,1);*/
color: rgba(255,255,255,1);
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(40,40,40,0.4);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.cuarto:hover {
 /* color: rgba(181,181,181,1);*/
  color: rgba(255,255,255,1);
  background: rgba(0,0,0,0.4);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}

.cuarto:focus {
  width: 210px;
  cursor: default;
  padding: -13px 20px 0;
  color: rgba(255,255,255,1);
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
/*genero*/
.buttongen {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
/*  width: 150px;*/
  width: 90px;
  height: 32px;
  cursor: pointer;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 20px;
  overflow: hidden;
  border: none;
  -webkit-border-radius: 21px;
  border-radius: 21px;
  font: normal normal normal 16px/normal "Antic", Helvetica, sans-serif;
/*  color: rgba(140,140,140,1);*/
color: rgba(255,255,255,1);
  text-decoration: normal;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(40,40,40,0.4);
  -webkit-box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.5) inset;
  -webkit-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 502ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
.buttongen:hover {
 /* color: rgba(181,181,181,1);*/
  color: rgba(255,255,255,1);
  background: rgba(0,0,0,0.4);
  -webkit-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 500ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
.buttongen:focus {
  width: 93px;
  cursor: default;
  padding: -13px 20px 0;
  color: rgba(255,255,255,1);
  -webkit-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -moz-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  -o-transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
  transition: all 601ms cubic-bezier(0.68, -0.75, 0.265, 1.75);
}
.tooltip {
    display:none;
   /*background:transparent url(https://dl.dropboxusercontent.com/u/25819920/tooltip/black_arrow.png);*/
    font-size:12px;
    height:70px;
    width:160px;
    padding:25px;
    color:#fff;
}
.btn_sub2{
		cursor:pointer;
    	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #fff2ff;
	padding: 4px 15px;
	background: -moz-linear-gradient(
		top,
		#c7be0e 0%,
		#4d5e16 50%,
		#4d5e16 50%,
		#4d5e16);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#c7be0e),
		color-stop(0.50, #4d5e16),
		color-stop(0.50, #4d5e16),
		to(#4d5e16));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #4d5e16;
	-moz-box-shadow:
		0px 1px 3px rgba(77,94,22,0.5),
		inset 0px 0px 2px rgba(77,94,22,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(77,94,22,0.5),
		inset 0px 0px 2px rgba(77,94,22,1);
	box-shadow:
		0px 1px 3px rgba(77,94,22,0.5),
		inset 0px 0px 2px rgba(77,94,22,1);
	text-shadow:
		0px -1px 0px rgba(77,94,22,0),
		0px 1px 0px rgba(255,255,255,0);
}
.btn_sub{
		cursor:pointer;
    	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #fff2ff;
	padding: 4px 10px;
	background: -moz-linear-gradient(
		top,
		#c7be0e 0%,
		#4d5e16 50%,
		#4d5e16 50%,
		#4d5e16);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#c7be0e),
		color-stop(0.50, #4d5e16),
		color-stop(0.50, #4d5e16),
		to(#4d5e16));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #4d5e16;
	-moz-box-shadow:
		0px 1px 3px rgba(77,94,22,0.5),
		inset 0px 0px 2px rgba(77,94,22,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(77,94,22,0.5),
		inset 0px 0px 2px rgba(77,94,22,1);
	box-shadow:
		0px 1px 3px rgba(77,94,22,0.5),
		inset 0px 0px 2px rgba(77,94,22,1);
	text-shadow:
		0px -1px 0px rgba(77,94,22,0),
		0px 1px 0px rgba(255,255,255,0);
}
.titulos {
color:#000000;
font-family:"Comic Sans MS";
}
.imenu {
color:#000000;
font-family:"Comic Sans MS";
}
.imenu:hover {
color:#008000;
}
}
